html, body{
    background-color: rgb(0, 0, 0);
    color: rgb(7, 255, 255);
}

main{

    margin-left: 3%;
    margin-right: 3%;
}

header{
    
    background-color: rgb(7, 255, 255);
    color: black;
    padding: 11px;
    
}

h1{

    text-align: center;
}

p{
    text-align: justify;
    font-size: 120%
    
}



.group1 {

    padding-left: 3%;
  

}   

a{
    background-color: rgb(7, 255, 255);
    padding: 10px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 1%;
    
} 
a:hover{
    background-color: rgb(255, 255, 0);
}

nav{

    border-bottom: 3px solid cyan; 
    padding-bottom: 19px; 

}